<mat-toolbar color="primary" *ngIf="user">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>XYX SOLICITORS</h1>
  </mat-toolbar>
  <mat-sidenav-container autosize="true" >
    <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
      <mat-nav-list *ngIf="user">
        <a mat-list-item>
          <span class="entry">
            <mat-icon routerLink="/">house</mat-icon>
            <span *ngIf="!isCollapsed"><a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a></span>
          </span>
        </a>
      </mat-nav-list>
      <mat-nav-list *ngIf="user">
        <a mat-list-item>
          <span class="entry">
             <mat-icon routerLink="/clients-management">supervised_user_circle</mat-icon>
            <span *ngIf="!isCollapsed"><a class="nav-item nav-link" routerLink="/clients-management" routerLinkActive="active">Clients</a></span>
          </span>
        </a>
      </mat-nav-list>
      <mat-nav-list *ngIf="user">
        <a mat-list-item>
          <span class="entry">
             <mat-icon routerLink="/users">assignment</mat-icon>
            <span *ngIf="!isCollapsed"><a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Cases</a></span>
          </span>
        </a>
      </mat-nav-list>
      <mat-nav-list *ngIf="user">
        <a mat-list-item>
          <span class="entry">
             <mat-icon routerLink="/users">supervisor_account</mat-icon>
            <span *ngIf="!isCollapsed"><a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Employees</a></span>
          </span>
        </a>
      </mat-nav-list>
      <mat-nav-list *ngIf="user">
        <a mat-list-item>
          <span class="entry">
             <mat-icon routerLink="/users">assessment</mat-icon>
            <span *ngIf="!isCollapsed"><a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Reports</a></span>
          </span>
        </a>
      </mat-nav-list>
      <mat-nav-list *ngIf="user">
        <a mat-list-item>
          <span class="entry">
             <mat-icon routerLink="/users">settings</mat-icon>
            <span *ngIf="!isCollapsed"><a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Settings</a></span>
          </span>
        </a>
      </mat-nav-list>
      <mat-nav-list *ngIf="user">
        <a mat-list-item>
          <span class="entry">
            <mat-icon (click)="logout()">input</mat-icon>
            <span *ngIf="!isCollapsed"><button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button></span>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
     
      <router-outlet></router-outlet>
      <alert></alert>
    </mat-sidenav-content>
  </mat-sidenav-container>
 
